/* Caractéristiques générales de la page */

body
{
    font-family: 'Trebuchet MS';
    color: white;
    background: grey;
}

#container
{
    
}

footer, header
{
    background: grey;
    color: white;
}

footer
{
    margin-top: 1rem;
    padding: 1rem 0;
}

h1
{
    margin: 0;
    padding: 1rem 0;
}

main
{
    margin-top: 1rem;
}

#sandbox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: fit-content;
    
    margin: auto;
    
}

@media all AND (min-width: 425px)
{
    #sandbox
    {
        width: 409px;
    }
}

.box
{
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    position: relative;
    background: white;
    border-radius: 1rem;
}

.box-link
{
    position: relative;
    top: 40%;
    width: fit-content;
    margin: auto;
    
}


.centered
{
    text-align: center;
}

a
{
    text-decoration: none;
    font-size: 1.2rem;
    color: grey;
}

.borderDraft
{
    border: 1px solid lime;
}