@charset "UTF-8";
body {
  font-family: "Arial";
  margin: 0;
}

/* Largeur de l'appli figée et centrée */
.container {
  width: 480px;
  margin: auto;
}

/* Définition des bordures */
.border {
  border: grey 1px solid;
}

.border-top1 {
  border-top: #A1C181 1px solid;
}

.border-bottom1 {
  border-bottom: #A1C181 1px solid;
}

/* Définition des ombrages */
.shadow {
  box-shadow: 2px 2px 5px grey, -2px 0 5px grey;
}

/* Modification du texte */
.text-ctrd {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

/* Définition des marges externes et internes */
/* Définition des marges externes */
.margin0 {
  margin: 0;
}

.margin-topbottom0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.margin20 {
  margin: 20px;
}

.margin40 {
  margin: 40px;
}

.margin-side-M {
  margin: 0 48px;
}

.margin-side-L {
  margin: 0 96px;
}

/* Définition des marges internes */
.padding-middle {
  padding: 10px 0;
}

.padding-lr10 {
  padding: 0 10px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}

.padding-bottomL {
  padding-bottom: 20px;
}

/* Les liens */
a {
  text-decoration: none;
}

/* Les couleurs de l'interface */
.ui-color-main {
  background: #569C87;
}

.ui-color-txt {
  color: #FDCB46;
}

.ui-color-txt-active {
  color: #FFFFFF;
}

/* Définition des blocs de structure

Les BEMs réutilisables sur toutes les pages */
/* Le Haut de page */
header {
  background: #569C87;
  color: #FDCB46;
  font-family: "Arial";
}

/* Pied de page en position figée en bas de page
flex space-between pour positionner les 2 éléments qu'il contient */
.footer {
  display: flex;
  justify-content: space-between;
  width: 480px;
  position: fixed;
  bottom: 0;
}

/* Les menus individuels */
.menu__ligne {
  display: flex;
  justify-content: space-between;
}

/* Chaque menu est un btn */
.btn {
  width: 150px;
  height: 210px;
  margin: 10px;
}
.btn__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-m1__title {
  font-family: "Devonshire";
  font-size: 16px;
  background: linear-gradient(90deg, #3D1319, #3D1319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-m1__subtitle {
  font-family: "Comic Sans MS";
}
.btn-m2__title {
  font-family: "Croissant One";
  font-size: 16px;
  background: linear-gradient(90deg, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-m2__subtitle {
  color: #c67412;
  font-family: "Noto Serif";
  -webkit-text-fill-color: #c67412;
}
.btn-m3__title {
  font-family: "Dancing Script";
  font-size: 16px;
  background: linear-gradient(90deg, #0228dd, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-m3__subtitle {
  color: #229df9;
  font-family: "Segoe Print";
  -webkit-text-fill-color: #229df9;
}
.btn-m4__title {
  font-family: "Kaushan Script";
  font-size: 16px;
  background: linear-gradient(90deg, #72bf56, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-m4__subtitle {
  color: #72bf56;
  font-family: "Segoe Print";
  -webkit-text-fill-color: #72bf56;
}
.btn-next {
  width: 240px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}
.btn-next p {
  padding-top: 5px;
}

/* Affichage des 4 menus sur la page d'accueil */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu p {
  transform: scale(1);
  opacity: 1;
}
.menu p:hover {
  transition: 0.5s;
  transform: scale(1.2);
  opacity: 0.25;
}

/* Définition du format des menus */
.menu-m1 {
  background-color: #FCDFDB;
  color: #3D1319;
  font-family: "Comic Sans MS";
}
.menu-m1__title {
  font-family: "Devonshire";
  font-size: 30px;
  background: linear-gradient(90deg, #3D1319, #3D1319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-m1__subtitle {
  font-family: "Comic Sans MS";
}
.menu-m1__entree {
  color: #3D1319;
  font-size: 10px;
}
.menu-m1__entree-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m1__entree-titre p {
  border-bottom: 1px solid #FCDFDB;
}
.menu-m1__entree-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #3D1319;
}
.menu-m1__entree-titre .deco-left {
  border-bottom: 2px solid #3D1319;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m1__entree-titre .deco-right {
  border-bottom: 2px solid #3D1319;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m1__plat {
  color: #3D1319;
  font-size: 10px;
}
.menu-m1__plat-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m1__plat-titre p {
  border-bottom: 1px solid #FCDFDB;
}
.menu-m1__plat-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #3D1319;
}
.menu-m1__plat-titre .deco-left {
  border-bottom: 2px solid #3D1319;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m1__plat-titre .deco-right {
  border-bottom: 2px solid #3D1319;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m1__dessert {
  color: #3D1319;
  font-size: 10px;
}
.menu-m1__dessert-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m1__dessert-titre p {
  border-bottom: 1px solid #FCDFDB;
}
.menu-m1__dessert-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #3D1319;
}
.menu-m1__dessert-titre .deco-left {
  border-bottom: 2px solid #3D1319;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m1__dessert-titre .deco-right {
  border-bottom: 2px solid #3D1319;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m2 {
  background-color: #FFF5FE;
  color: #c67412;
  font-family: "Noto Serif";
}
.menu-m2__title {
  font-family: "Croissant One";
  font-size: 20px;
  background: linear-gradient(90deg, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-m2__subtitle {
  color: #c67412;
  font-family: "Noto Serif";
  -webkit-text-fill-color: #c67412;
}
.menu-m2__entree {
  color: #c67412;
  font-size: 10px;
}
.menu-m2__entree-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m2__entree-titre p {
  border-bottom: 1px solid #FFF5FE;
}
.menu-m2__entree-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #c67412;
}
.menu-m2__entree-titre .deco-left {
  border-bottom: 2px solid #c67412;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m2__entree-titre .deco-right {
  border-bottom: 2px solid #c67412;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m2__plat {
  color: #a56799;
  font-size: 10px;
}
.menu-m2__plat-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m2__plat-titre p {
  border-bottom: 1px solid #FFF5FE;
}
.menu-m2__plat-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #a56799;
}
.menu-m2__plat-titre .deco-left {
  border-bottom: 2px solid #a56799;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m2__plat-titre .deco-right {
  border-bottom: 2px solid #a56799;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m2__dessert {
  color: #6e4ccc;
  font-size: 10px;
}
.menu-m2__dessert-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m2__dessert-titre p {
  border-bottom: 1px solid #FFF5FE;
}
.menu-m2__dessert-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #6e4ccc;
}
.menu-m2__dessert-titre .deco-left {
  border-bottom: 2px solid #6e4ccc;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m2__dessert-titre .deco-right {
  border-bottom: 2px solid #6e4ccc;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m3 {
  background-color: #F9F9F9;
  color: #000000;
  font-family: "Segoe Print";
}
.menu-m3__title {
  font-family: "Dancing Script";
  font-size: 30px;
  background: linear-gradient(90deg, #0228dd, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-m3__subtitle {
  color: #229df9;
  font-family: "Segoe Print";
  -webkit-text-fill-color: #229df9;
}
.menu-m3__entree {
  color: #000000;
  font-size: 10px;
}
.menu-m3__entree-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m3__entree-titre p {
  border-bottom: 1px solid #F9F9F9;
}
.menu-m3__entree-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #000000;
}
.menu-m3__entree-titre .deco-left {
  border-bottom: 2px solid #0228dd;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m3__entree-titre .deco-right {
  border-bottom: 2px solid #0228dd;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m3__plat {
  color: #000000;
  font-size: 10px;
}
.menu-m3__plat-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m3__plat-titre p {
  border-bottom: 1px solid #F9F9F9;
}
.menu-m3__plat-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #000000;
}
.menu-m3__plat-titre .deco-left {
  border-bottom: 2px solid #0670f3;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m3__plat-titre .deco-right {
  border-bottom: 2px solid #0670f3;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m3__dessert {
  color: #000000;
  font-size: 10px;
}
.menu-m3__dessert-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m3__dessert-titre p {
  border-bottom: 1px solid #F9F9F9;
}
.menu-m3__dessert-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #000000;
}
.menu-m3__dessert-titre .deco-left {
  border-bottom: 2px solid #229df9;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m3__dessert-titre .deco-right {
  border-bottom: 2px solid #229df9;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m4 {
  background-color: #FDFFFD;
  color: #000000;
  font-family: "Segoe Print";
}
.menu-m4__title {
  font-family: "Kaushan Script";
  font-size: 30px;
  background: linear-gradient(90deg, #72bf56, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-m4__subtitle {
  color: #72bf56;
  font-family: "Segoe Print";
  -webkit-text-fill-color: #72bf56;
}
.menu-m4__entree {
  color: #000000;
  font-size: 10px;
}
.menu-m4__entree-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m4__entree-titre p {
  border-bottom: 1px solid #FDFFFD;
}
.menu-m4__entree-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #000000;
}
.menu-m4__entree-titre .deco-left {
  border-bottom: 2px solid #72bf56;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m4__entree-titre .deco-right {
  border-bottom: 2px solid #72bf56;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m4__plat {
  color: #000000;
  font-size: 10px;
}
.menu-m4__plat-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m4__plat-titre p {
  border-bottom: 1px solid #FDFFFD;
}
.menu-m4__plat-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #000000;
}
.menu-m4__plat-titre .deco-left {
  border-bottom: 2px solid #72bf56;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m4__plat-titre .deco-right {
  border-bottom: 2px solid #72bf56;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m4__dessert {
  color: #000000;
  font-size: 10px;
}
.menu-m4__dessert-titre {
  display: flex;
  justify-content: space-between;
}
.menu-m4__dessert-titre p {
  border-bottom: 1px solid #FDFFFD;
}
.menu-m4__dessert-titre p:hover {
  transition: 1s;
  border-bottom: 1px solid #000000;
}
.menu-m4__dessert-titre .deco-left {
  border-bottom: 2px solid #72bf56;
  width: 30%;
  position: relative;
  bottom: 16px;
}
.menu-m4__dessert-titre .deco-right {
  border-bottom: 2px solid #72bf56;
  width: 30%;
  position: relative;
  bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
