/* Feuille de style dédiée à la page d'accueil */

/* Mise en forme générale */

body
{
	font-family: 'Josefin Sans', sans-serif;
}

.contenu
{
	margin: auto;
	border: lightgrey 1px solid;
	padding: 5px;
	max-width: 1000px;
	/*width: fit-content;*/
}

main
{
	display: flex;
	flex-direction: column;
}

.liens 
{
	display:flex;
}

/* Définition des Couleurs de fond */

.backgnd_grey
{
	background-color: grey;
}

.backgnd_lgrey
{
	background-color: lightgrey;
}

.backgnd_gold
{
	background-color: gold;
}

.backgnd_lime
{
	background-color: lime;
}

.backgnd_ygreen
{
	background-color: yellowgreen;
}

.backgnd_green
{
	background-color: green;
}

.backgnd_valide
{
	background: linear-gradient(green, yellowgreen);
}

.backgnd_avalider
{
	background: linear-gradient(yellowgreen, gold);
}

.backgnd_wip
{
	background: linear-gradient(gold, grey);
}

/* Définition des Couleurs de texte */

.text_blue
{
	color: blue;
}

.text_white
{
	color: white;
}

.text_ygreen
{
	color: yellowgreen;
}

.text_lgrey
{
	color: lightgrey;
}

.text_grey
{
	color: grey;
}

p a
{
	text-decoration: none;
	color: yellowgreen;
	width: 200px;
}

p a:hover
{
	background-color: yellowgreen;
	color: white;
}

/* Modification de mise en page du texte */

.align_center
{
	text-align: center;
}

.uppercase
{
	text-transform: uppercase;
}

.align-left
{
	justify-content: flex-start;
}

.justify-center
{
	justify-content: center;
}


/* Définition de l'affichage des projets */

.project
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* définiton des boutons de lien */
.btn 
{
	padding: 5px;
	
}

.project_preview
{
	padding: 5px;
	margin: 10px;
    width: 130px;
	height: 130px;
	
}

.project_link
{
	text-decoration: none;
}

/* Habillage des boites */

.no-margin-top
{
	margin-top: 0px;
}

.no-margin
{
	margin: 0;
}

.margin-auto
{
	margin: auto;
}


.rounded
{
	border-radius: 20%;
}

.rounded-10
{
	border-radius: 10px;
}

.padding-10
{
	padding: 10px;
}
.padding-5
{
	padding: 5px;
}
.margin-top-10
{
	margin-top: 10px;
}

.margin-bottom-10
{
	margin-bottom: 10px;
}




/* Modifications en fonction des tailles d'écran */

@media all AND (max-width: 800px) AND (min-width: 361px)
{
	.project_preview
	{
		width: 130px;
		height: 130px;
	}
}

@media all AND (max-width: 360px) AND (min-width: 300px)
{
	.project_preview
	{
		width: 100px;
		height: 100px;
	}
}
