// génération du code pour formatter les menus (couleurs de fond, polices, ...)

@mixin format-menu ($menu)
 {
    @each $menu, $argument in $map-menu
    {
        &-#{$menu} // génération du selecteur -mx
        {
            background-color: map-get($map: $argument, $key: bg);
            color: map-get($map: $argument, $key: clr-base);
            font-family: map-get($map: $argument, $key: ftx);
            
            &__title // génération du selecteur -mx__title
            {
                font-family: map-get($map: $argument, $key: ft);
                font-size: map-get($map: $argument, $key: ft-size);
                background: linear-gradient(90deg, map-get($argument, clr-grad-a), map-get($argument, clr-grad-b));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &-red
                {
                    font-family: map-get($map: $argument, $key: ft);
                    font-size: map-get($map: $argument, $key: ft-size)*2/3;
                }
            }
            &__subtitle // génération du selecteur -mx__subtitle
            {
                color: map-get($map: $argument, $key: clr-subtitle);
                font-family: map-get($map: $argument, $key: ftx);
                //-webkit-text-fill-color: map-get($map: $argument, $key: clr-subtitle);
            }
            &__entree // génération du selecteur -mx__entree
            {
                color: map-get($map: $argument, $key: clr-entree);
                font-size: map-get($map: $argument, $key: ftx-size);
                
                &-titre // génération du selecteur -mx__entree-titre
                {
                    display: flex;
                    justify-content: space-between;

                    &-text // génération du selecteur -mx__entree-titre-text
                    {
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        
                        &::after
                        {
                            content: "";
                            z-index: 2;
                            transform-origin: left;
                            position: absolute;
                            left: 0;
                            height: 2px;
                            width: 100%;
                            background: map-get($map: $argument, $key: clr-entree);
                            transform: scaleX(0);
                            transition: transform 500ms;
                        }

                        &:hover
                        {
                            &::after
                            {
                                transform: scaleX(1);
                            }
                        }
                    }

                    h3
                    {
                        font-style: italic;
                        margin: 0 auto;
                    }
                

                    .deco-left
                    {
                        width: $width-deco;
                        background-image: url(map-get($map: $argument, $key: deco-L-a));
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position-y: center;
                    }
                    
                    .deco-right
                    {
                        width: $width-deco;
                        background-image: url(map-get($map: $argument, $key: deco-R-a));
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position-y: center;
                    }
                }
            }

            &__plat
            {
                color: map-get($map: $argument, $key: clr-plat);
                font-size: map-get($map: $argument, $key: ftx-size);
                &-titre
                {
                    display: flex;
                    justify-content: space-between;
                    &-text // génération du selecteur -mx__entree-titre-text
                    {
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        
                        &::after
                        {
                            content: "";
                            z-index: 2;
                            transform-origin: left;
                            position: absolute;
                            left: 0;
                            height: 2px;
                            width: 100%;
                            background: map-get($map: $argument, $key: clr-plat);
                            transform: scaleX(0);
                            transition: transform 500ms;
                        }

                        &:hover
                        {
                            &::after
                            {
                                transform: scaleX(1);
                            }
                        }
                    }

                    h3
                    {
                        font-style: italic;
                        margin: 0 auto;
                    }

                    .deco-left
                        {
                            width: $width-deco;
                            background-image: url(map-get($map: $argument, $key: deco-L-b));
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position-y: center;
                        }
                    
                    .deco-right
                        {
                            width: $width-deco;
                            background-image: url(map-get($map: $argument, $key: deco-R-b));
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position-y: center;
                        }
                }
            }
            &__dessert
            {
                color: map-get($map: $argument, $key: clr-dessert);
                font-size: map-get($map: $argument, $key: ftx-size);
                &-titre
                {
                    display: flex;
                    justify-content: space-between;
                    &-text // génération du selecteur -mx__entree-titre-text
                    {
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        
                        &::after
                        {
                            content: "";
                            z-index: 2;
                            transform-origin: left;
                            position: absolute;
                            left: 0;
                            height: 2px;
                            width: 100%;
                            background: map-get($map: $argument, $key: clr-dessert);
                            transform: scaleX(0);
                            transition: transform 500ms;
                        }

                        &:hover
                        {
                            &::after
                            {
                                transform: scaleX(1);
                            }
                        }
                    }

                    h3
                    {
                        font-style: italic;
                        margin: 0 auto;
                    }

                    .deco-left
                        {
                            width: $width-deco;
                            background-image: url(map-get($map: $argument, $key: deco-L-c));
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position-y: center;
                        }
                    
                    .deco-right
                        {
                            width: $width-deco;
                            background-image: url(map-get($map: $argument, $key: deco-R-c));
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position-y: center;
                        }
                }
            }
        }
    }
}

@mixin format-btn-accueil ($menu)
 {
    @each $menu, $argument in $map-menu
    {
        &-#{$menu} // génération du selecteur -mx
        {
            &__title // génération du selecteur -mx__title
            {
                font-family: map-get($map: $argument, $key: ft);
                font-size: $size-ML;
                background: linear-gradient(90deg, map-get($argument, clr-grad-a), map-get($argument, clr-grad-b));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &__subtitle // génération du selecteur -mx__subtitle
            {
                color: map-get($map: $argument, $key: clr-subtitle);
                font-family: map-get($map: $argument, $key: ftx);
                -webkit-text-fill-color: map-get($map: $argument, $key: clr-subtitle);
            }
        }
    }
}

