// définition des variables ohmyfood

// définition des couleurs
//Interface
    $color-primary: #569C87;
    $color-secondary: #FDCB46;
    $color-active: #FFFFFF;

    $color-border: #A1C181;

// pour le menu 1
    $color-menu1-primary: #FCDFDB;
    $color-menu1-secondary: #3D1319;

// pour le menu 2
    $color-menu2-primary: #FFF5FE;
    // $color-menu2-secondary: ;

$color-menu3-primary: #F9F9F9;
// $color-menu3-secondary: ;

$color-menu4-primary: #FDFFFD;
// $color-menu4-secondary: ;

$color-shadow: grey;

// Définition des dimensions
// largeur du site
    $width-site: 400px;

// Définition des polices de caractère
// pour le logo titre

// pour l'ensemble du site

// pour le menu 1:
    $ft1: 'Devonshire'; //chez Google Fonts
    $ftx1: 'Arial';
// pour le menu 2:

// pour le menu 3:

// pour le menu 4:

// Définition des valeurs de marges internes/externes

$size-0: 0;

$size-XXS: 1px;

$size-XS: 2px;

$size-S: 5px;

$size-M: 10px;

$size-L: 20px;

$size-XL: 80px;

// Définition du mapping de la mise en forme des menus
// Chaque menu se caractérise par
// - bg:      une couleur de fond
// - clr:     une couleur de texte
// - ft:      une police de caractères pour le titre
// - ftx:     une police de caractère pour le texte

$map-menu:(
    m1:(
        bg: $color-menu1-primary,
        clr: $color-menu1-secondary,
        ft: $ft1,
        ftx: $ftx1    
    ),
    m2:(
        bg:$color-menu2-primary,
        clr:$color-secondary,
        ft: $ft1,
        ftx: $ftx1 
    ),
    m3:(
        bg:$color-menu3-primary,
        clr:$color-secondary,
        ft: $ft1,
        ftx: $ftx1  
    ),
    m4:(
        bg:$color-menu4-primary,
        clr:$color-secondary,
        ft: $ft1,
        ftx: $ftx1
    )
)
