// définition des variables ohmyfood

// définition des couleurs
$color-primary: #569C87;
$color-secondary: #FDCB46;
$color-active: #FFFFFF;

$color-border: #A1C181;

$color-menu1-primary: #FCDFDB;
$color-menu1-secondary: #3D1319;

$color-menu2-primary: #FFF5FE;
// $color-menu2-secondary: ;

$color-menu3-primary: #F9F9F9;
// $color-menu3-secondary: ;

$color-menu4-primary: #FDFFFD;
// $color-menu4-secondary: ;

$color-shadow: grey;

// Définition des dimensions
// largeur du site
$width-site: 400px;

// Définition des valeurs de marges internes/externes

$size-0: 0;

$size-XS: 1px;

$size-S: 5px;

$size-M: 10px;

$size-L: 20px;

$size-XL: 80px;



