@font-face {
    font-family: 'aileronregular';
    src: url('font/Aileron-Regular-webfont.eot');
    src: url('font/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Aileron-Regular-webfont.woff2') format('woff2'),
         url('font/Aileron-Regular-webfont.woff') format('woff'),
         url('font/Aileron-Regular-webfont.ttf') format('truetype'),
         url('font/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

   

/* 
Modifications de main:
mise en place de flexbox
margin auto pour centrer le main dans la fenêtre
largeur max fixée à celle du modèle
*/
body
{
	font-family: aileronregular;
}

main
{
	display: flex;
	margin: auto;
	max-width: 1188px;
	border: lightgrey 1px solid;

}

/*Les titres*/
h1
{
	margin-top: 0;
	margin-bottom: 80px;
	color: #404040;
}

h2
{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 5px;
}

h3
{
	text-transform: uppercase;
}

/* les paragraphes et le texte */
p
{
	text-align: justify;
	color: #5c5252;
}

strong
{
	color: #4dd0e1;
}

/* les listes */
ul
{
	padding-inline-start: 0;
}

li
{
	display:flex;
	margin-bottom: 10px;
}

/* les images récupérées par le script */
i
{
	color: #4dd0e1;
	margin-right: 10px;
}


/* Modifications de aside */
aside
{
	width: 30%;
    background-color: #4dd0e1;
    display: flex;
	flex-direction: column;
}

aside h3
{
	background-color: #5c5252;
	color: #4dd0e1;
	text-align: center;
	padding: 10px 0;
}

aside p
{
	padding: 0 40px;
}

.selfie
{
	text-align: center;
	margin-top: 45px;
	margin-bottom: 25px;
}

.trombi
{
	width: 60%;
	border-radius: 50%;
	filter: grayscale(100%);
	border: gray 1px solid;
	transition: 1s;
}

.trombi:hover
{
	filter: grayscale(0%);
}

.about
{
	flex: 6;
}
.loisirs
{
	flex: 1;
}

.i_loisirs
{
	display: flex;
	justify-content: space-around;
}

.i_loisirs i
{
	color: #5c5252;
	font-size: 40px;
	border: #5c5252 2px solid;
	padding: 9px 5px;
	border-radius: 50%;
	flex: 1;
}

/* Modifications de section */
section
{
	width: 70%;
	padding: 40px;
}

.h1_style
{
	border-bottom: #4dd0e1 2px solid;
}
section h3
{
	border-bottom: #4dd0e1 1px solid;
	font-size: 1.5em;
	padding-bottom: 15px;
}

.block_section p:first-child
{
	text-transform: uppercase;
	margin-top: 0px;
	font-size: 1.2em;
	font-weight: bold;
}

.date_lieu
{
	min-width: 150px;
	margin-right: 20px;
}


.block_section i
{
	font-size: 1.5em;
}

.logo
{
	margin-right: 25px;
}

.pucedujour i
{
	font-size: 1em;
}
.pupuce i
{
	font-size: 0.7rem;
	width: 16px;
	margin-left: 4px;
	margin-right: 10px;
	text-align: center;
}

.recommandation
{
	display: flex;
	justify-content: space-around;
}

.recommandation p:first-child
{
	text-transform: uppercase;
	margin-top: 0px;
	font-weight: bold;
}



