/* Affichage des 4 menus sur la page d'accueil */

.menu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Définition de l'ombrage des menu de la page d'acceuil */
.shadow
{
	box-shadow: $size-XS $size-XS $color-shadow;
}