/* Affichage des 4 menus sur la page d'accueil */

.menu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	p
		{
			transition: 1s;
			transform: scale(1);
		&:hover
			{
				transform: scale(1.2);
			}
		}
}


