/* Affichage des 4 menus sur la page d'accueil */

.menu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	p
		{
			transform: scale(1);
			opacity: 1;
			transition: .5s;

		&:hover
			{
				transform: scale(1.2);
				opacity: 0.25;
			}
		}
}


