// Génération des sélecteurs pour mise en page des menus

/* Définition du format des menus */
.menu
{
    @include format-menu($map-menu);
    @media all and (max-width:480px)
		{
            display:flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            width: -moz-fit-content;
            margin: auto;
        }
}

.logo-m1
{
    height: $size-XL;
    &-reduced
    {
        height: $size-L + $size-S;
    }
}

.plat, .prix
{
    p
    {
        margin: $size-S $size-0;
    }
}

.plat
{
    @media all and (max-width:480px)
    {
        p
            {
                margin-bottom: 0;
            }
    }
    
}

.prix
{
    @media all and (max-width:480px)
    {
        text-align: end;
        p
        {
            margin-top: 0;
        }
        
    }
    
}
