// Génération des sélecteurs pour mise en page des menus

/* Définition du format des menus */
.menu
{
    @include format-menu($map-menu);
}

.logo-m1
{
    height: $size-XL;
    &-reduced
    {
        height: $size-L + $size-S;
    }
}

.plat, .prix
{
    p
    {
        margin: $size-S $size-0;
    }
}

