@keyframes shake
{
    20%
    {
        transform: translateX(-1px);
    }
    40%
    {
        transform: translateX(4px);
    }
    60%
    {
        transform: translateX(-4px);
    }
    80%
    {
        transform: translateX(1px);
    }
    100%
    {
        transform: translateX(0);
    }
}

.wiggle:hover
{
    animation: shake 500ms ease-in-out both;
}

@keyframe jumping
{
    0%, 50%, 100%
    {
        transform: translateY(0);
    }
    25%
    {
        transform: translateY(1rem);
    }
    75%
    {
        transform: translateY(-1rem);
    }
}