@keyframes zoom-btn
{
    from
    {
        transform: scale(1);
        opacity: 1;
    }
    to
    {
        transform: scale(1.2);
        opacity: 0.25;
    }
}

@keyframes wiggle
{
    
    50%
    {
        transform: translateX($wiggle-size);
    }
    75%
    {
        transform: translateX(-$wiggle-size);
    }
    
}

.wiggle:hover
{
    animation: wiggle $wiggle-dur ease-in-out both 2;
}

@keyframes jumping
{
    0%, 50%
    {
        transform: translateY(0);
    }

    25%
    {
        transform: scale(2) translateY(-$jump-size);
    }
    75%
    {
        transform: translateY($jump-size);
    }
}

.anim-pt1
{
    animation: jumping $jump-dur ease-in-out both infinite;
}

.anim-pt2
{
    animation: jumping $jump-dur ease-in-out $jump-dur/3  infinite;
}

.anim-pt3
{
    animation: jumping $jump-dur ease-in-out 2*$jump-dur/3  infinite;
}