// Fondations du site, polices, normalisation du site

/* Largeur de l'appli figée et centrée */
.container
{
	width: $width-site;
	margin: auto;
}

/* Définition des bordures */
.border
{
	border: $color-shadow $size-XXS solid;
}

.border-top1
{
	border-top: $color-border $size-XS solid;
}

/* Modification du texte */
.text-ctrd
{
	text-align: center;
}

.uppercase
{
	text-transform: uppercase;
}

/* Définition des marges externes et internes */

.margin0
{
	margin: $size-0;
}

.margin-topbottom0
{
	margin-top: $size-0;
	margin-bottom: $size-0;
}

.margin-top10
{
	margin-top: $size-M;
}

.margin-bottom10
{
	margin-bottom: $size-M;
}

.padding-middle
{
	padding: $size-M $size-0;
}

.padding-lr10
{
	padding: $size-0 $size-M;
}

.padding-bottom10
{
	padding-bottom: $size-M;
}

.padding-bottom80
{
	padding-bottom: $size-XL;
}

/* Les liens */

a
{
	text-decoration: none;
}

/* Les couleurs de l'interface */
.ui-color-main
{
	background: $color-primary;
}

.ui-color-txt
{
	color: $color-secondary;
}

.ui-color-txt-active
{
	color: $color-active;
}