// Fondations du site, polices, normalisation du site

	body
	{
		font-family: $ft-ui;
		margin: $size-0;
	}


/* Largeur de l'appli figée et centrée */
	.container
	{
		width: $width-site;
		margin: auto;
	}

/* Largeur du contenu des menus */
	.bloc
	{
		padding: 0 2rem;
		margin: 1rem 0;
	}

	.prix
	{
		margin-left: 1rem;
	}

/* Définition des bordures */
	.border-top1
	{
		border-top: $color-border $size-XXS solid;
	}

	.border-bottom1
	{
		border-bottom: $color-border $size-XXS solid;
	}

/* Définition des ombrages */
	.shadow
	{
		box-shadow: $size-XS $size-XS $size-S $color-shadow, -$size-XS $size-0 $size-S $color-shadow;
	}

/* Modification du texte */
	.text-ctrd
	{
		text-align: center;
	}

	.uppercase
	{
		text-transform: uppercase;
	}

/* Définition des marges externes et internes */
/* Définition des marges externes */
	.margin0
	{
		margin: $size-0;
	}

	.margin-topbottom0
	{
		margin-top: $size-0;
		margin-bottom: $size-0;
	}

	.margin-bottom0
	{
		margin-bottom: $size-0;
	}

	.margin-bottom80
	{
		margin-bottom: $size-XXL;
	}

	.margin-top10
	{
		margin-top: $size-M;
	}

	.margin-bottom10
	{
		margin-bottom: $size-M;
	}

	.margin20
	{
		margin: $size-L;
	}

	.margin40
	{
		margin: $size-XL;
	}
	.margin-side-M
	{
		margin-left: $width-site*0.1;
		margin-right: $width-site*0.1;
	}
	.margin-side-L
	{
		margin: $size-0 $width-site*0.2;
	}

/* Définition des marges internes */
	.padding-middle
	{
		padding: $size-M $size-0;
	}

	.padding-lr10
	{
		padding: $size-0 $size-M;
	}

	.padding-lr40
	{
		padding: $size-0 $size-XL;
	}

	.padding-bottom10
	{
		padding-bottom: $size-M;
	}

	.padding-bottomL
	{
		padding-bottom: $size-L;
	}

	.padding-menu
	{
		padding: $size-M $size-M $size-M $size-M;
	}

/* Les liens */

	a
	{
		text-decoration: none;
	}

/* Les couleurs de l'interface */
	.ui-color-main
	{
		background: $color-primary;
	}

	.ui-color-txt
	{
		color: $color-secondary;
	}

	.ui-color-txt-active
	{
		color: $color-active;
	}