/* Généralités */

/* Largeur de l'appli figée et centrée */
.container
{
	width: 400px;
	margin: auto;
}

/* Bordure par défaut, histoire de visualiser les blocs */
.border
{
	border: grey 1px solid;
}

main
{
	border-top: #A1C181 1px solid;
	border-bottom: #A1C181 1px solid;
}

/* Définition des couleurs de base */
.main-color
{
	background: #569C87;
}

.txt-color
{
	color: #FDCB46;
}

.txt-color-active
{
	color: #FFF;
}

/* Centrage du texte */
.text-ctrd
{
	text-align: center;
}

/* Marges spécifiques */
.margin0
{
	margin: 0;
}

.margin-topbottom0
{
	margin-top: 0;
	margin-bottom: 0;
}

.padding-middle
{
	padding: 10px 0;
}

.padding-lr10
{
	padding: 0 10px;
}

a
{
	text-decoration: none;
}

/* Mise en forme des menus */

.menu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu-color
{
	background: #FCDFDB;
}

.menu-color2
{
	background: #FFF5FE;
}

.menu-color3
{
	background: #F9F9F9;
}

.menu-color4
{
	background: #FDFFFD;
}

.shadow
{
	box-shadow: 2px 2px grey;
}

.menu a
{
	transition: 1s;
}

.menu a:hover
{
	font-size: 20px;
}

/* Chaque menu est un btn */
.btn
{
	width: 150px;
	height: 200px;
	margin: 10px;
}

/* Variante pour Bouton Prochainement */

.btn-next
{
	width: 200px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

.btn-next p
{
	padding-top: 5px;
}

/* Le pied de page */

.footer
{
	display: flex;
	justify-content: space-between;
}

@media all and (max-width: 800px)
{

}