// Définition des boutons

/* Chaque menu est un btn */
.btn
{
	width: 150px;
	height: 210px;
	margin: 10px;
	&__content
	{
		display:flex;
		flex-direction: column;
		justify-content: center;
	}

	@include format-btn-accueil ($map-menu);

	&-next
	{
		width: $width-site/2;
		height: 2rem;
		border-radius: 2rem;
		margin: auto;
		padding-top: 1rem;

		&__content
		{
			display: flex;
			justify-content: center;

			&-pt
			{
				transform: translateY(0);
			}
		}
		
		
	}
}

